/* Hide all elements with language attributes by default. Then
 * set the elements with the correct language visible (in JavaScript).
 */
[lang=de] {
    display: none;
}

[lang=en] {
    display: none;
}

#addDialog {
    display: none;
}

#renameDialog {
    display: none;
}

#deleteDialog {
    display: none;
}
