<span lang="de">
	Hier k&ouml;nnen Sie neue Einnahmen oder Ausgaben hinzuf&uuml;gen.
</span>
<span lang="en">
	You can add new earnings or new spendings here.
</span>
<hr>

<form>
	<span lang="de">
		<input id="earning" type="radio" name="type"> Einnahme
	</span>
	<span lang="en">
		<input id="earning" type="radio" name="type"> Earning
	</span>

	<span lang="de">
		<input id="spending" type="radio" name="type"> Ausgabe
	</span>
	<span lang="en">
		<input id="spending" type="radio" name="type"> Spending
	</span>
</form>
<hr>

<div>
	<b lang="de">Name</b>
	<b lang="en">Name</b>
	<br>
	<input type="text" id="nameInput">
</div>

<!-- "<div>" +
	"<div>" +
		"<b>" + textElementsLocal[3] +
		"</b><br><input type=\"text\" id=\"nameInput\">" +
	"</div>" +
	"<div>" +
		"<b>" + textElementsLocal[4] +
		"</b><br><input style=\"width=50px;\" type=\"text\" id=\"sumInput\">" +
	"</div>" +
"</div><br> -->