<span lang="de">
	Hier k&ouml;nnen Sie neue Einnahmen oder Ausgaben hinzuf&uuml;gen.
</span>
<span lang="en">
	You can add new earnings or new spendings here.
</span>
<hr>

<form>
	<span lang="de">
		<input id="earning" type="radio" name="type" onclick="$('#dynamicDiv1').show(); $('#dynamicDiv2').hide();"> Einnahme
	</span>
	<span lang="en">
		<input id="earning" type="radio" name="type" onclick="$('#dynamicDiv1').show(); $('#dynamicDiv2').hide();"> Earning
	</span>

	<span lang="de">
		<input id="spending" type="radio" name="type" onclick="$('#dynamicDiv1').hide(); $('#dynamicDiv2').show();" checked> Ausgabe
	</span>
	<span lang="en">
		<input id="spending" type="radio" name="type" onclick="$('#dynamicDiv1').hide(); $('#dynamicDiv2').show();" checked> Spending
	</span>
</form>
<hr>

<div class="input-group">
	<div class="input-group-prepend">
		<label lang="de" class="input-group-text" for="nameInput">Name</label>
		<label lang="en" class="input-group-text" for="nameInput">Name</label>
	</div>
	<input class="form-control" type="text" id="nameInput">
</div>
<br>
<div class="input-group">
	<div class="input-group-prepend">
		<label lang="de" class="input-group-text" for="sumInput">Betrag</label>
		<label lang="en" class="input-group-text" for="sumInput">Amount</label>
	</div>
	<input class="form-control" type="text" id="sumInput">
</div>
<br>
<div class="input-group">
	<div class="input-group-prepend">
		<label lang="de" class="input-group-text" for="categoryInput">Kategorie (optional)</label>
		<label lang="en" class="input-group-text" for="categoryInput">Category (optional)</label>
	</div>
	<input class="form-control" type="text" id="categoryInput">
</div>
<br>
<div class="input-group">
	<div class="input-group-prepend">
		<label lang="de" class="input-group-text" for="dateInput">Datum</label>
		<label lang="en" class="input-group-text" for="dateInput">Date</label>
	</div>
	<input class="form-control" type="button" id="dateInput">
</div>
<div id="dynamicDiv1" style="display: none;">
	<hr>
	<form>
		<span lang="de">
			<input type="radio" id="manual" name="allocation" onclick="$('#dynamicDiv2').show();"> Konto w&auml;hlen
		</span>
		<span lang="en">
			<input type="radio" id="manual" name="allocation" onclick="$('#dynamicDiv2').show();"> Choose budget
		</span>
		<span lang="de">
			<input type="radio" id="autoAllocation" name="allocation" checked onclick="$('#dynamicDiv2').hide();"> Automatisch verteilen
		</span>
		<span lang="en">
			<input type="radio" id="autoAllocation" name="allocation" checked onclick="$('#dynamicDiv2').hide();"> Allocate automatically
		</span>
	</form>
</div>
<div id="dynamicDiv2">
	<hr>
	<div class="input-group">
		<div class="input-group-prepend">
			<label lang="de" class="input-group-text" for="budgetSelect">Konto</label>
			<label lang="en" class="input-group-text" for="budgetSelect">Budget</label>
		</div>
		<select class="custom-select" id="budgetSelect">
			%%BUDGETS%%
		</select>
	</div>
</div>
<div>
	<hr>
	<span lang="de">
		<input id="automate" type="checkbox" name="automation"
				onclick="if (this.checked) $('#dynamicDiv3').show(); else $('#dynamicDiv3').hide();"> Automatisieren
	</span>
	<span lang="en">
		<input id="automate" type="checkbox" name="automation"
				onclick="if (this.checked) $('#dynamicDiv3').show(); else $('#dynamicDiv3').hide();"> Automate
	</span>
</div>
<div id="dynamicDiv3" style="display: none;">
	<form>
		<div class="input-group">
			<div class="input-group-prepend">
				<label lang="de" class="input-group-text" for="intervalSelect">Intervall</label>
				<label lang="en" class="input-group-text" for="intervalSelect">Interval</label>
			</div>
			<select class="custom-select" id="intervalSelect">
				<option lang="de">w&ouml;chentlich</option>
				<option lang="en"></option>
				<option lang="de">alle vier Wochen</option>
				<option lang="en"></option>
				<option lang="de">monatlich</option>
				<option lang="en"></option>
				<option lang="de">zweimonatlich</option>
				<option lang="en"></option>
				<option lang="de">vierteljährlich</option>
				<option lang="en"></option>
				<option lang="de">halbjährlich</option>
				<option lang="en"></option>
				<option lang="de">jährlich</option>
				<option lang="en"></option>
			</select>
		</div>
		<span lang="de">Enddatum:</span>
		<span lang="en">End date:</span>
		<input type="button" id="endDateInput">
	</form>
</div>