<span lang="de">
	Hier k&ouml;nnen Sie neue Einnahmen oder Ausgaben hinzuf&uuml;gen.
</span>
<span lang="en">
	You can add new earnings or new spendings here.
</span>
<hr>

<form>
	<span lang="de">
		<input id="earning" type="radio" name="type" onclick="$('#dynamicDiv1').show()"> Einnahme
	</span>
	<span lang="en">
		<input id="earning" type="radio" name="type" onclick="$('#dynamicDiv1').show()"> Earning
	</span>

	<span lang="de">
		<input id="spending" type="radio" name="type" onclick="$('#dynamicDiv1').hide()" checked> Ausgabe
	</span>
	<span lang="en">
		<input id="spending" type="radio" name="type" onclick="$('#dynamicDiv1').hide()" checked> Spending
	</span>
</form>
<hr>

<div>
	<b lang="de">Name</b>
	<b lang="en">Name</b>
	<br>
	<input type="text" id="nameInput">
</div>
<div>
	<b lang="de">Betrag</b>
	<b lang="en">Amount</b>
	<br>
	<input type="text" id="sumInput" style="width: 50px;">
</div>
<div>
	<b lang="de">Kategorie</b> <span lang="de">(optional)</span>
	<b lang="en">Category</b> <span lang="en">(optional)</span>
	<br>
	<input type="text" id="categoryInput">
	<span lang="de">Datum:</span>
	<span lang="en">Date:</span>
	<input type="button" id="dateInput">
</div>
<div id="dynamicDiv1" style="display: none;">
	<hr>
	<form>
		<span lang="de">
			<input type="radio" id="manual" name="allocation"> Konto w&auml;hlen
		</span>
		<span lang="en">
			<input type="radio" id="manual" name="allocation"> Choose budget
		</span>
		<span lang="de">
			<input type="radio" id="autoAllocation" name="allocation" checked> Automatisch verteilen
		</span>
		<span lang="en">
			<input type="radio" id="autoAllocation" name="allocation" checked> Allocate automatically
		</span>
	</form>
</div>