<span lang="de">
	Bitte geben Sie einen Namen f&uuml;r Ihr Benutzerprofil ein.
	Der Name darf nicht leer sein, maximal %%MAXLEN%% Zeichen lang sein und darf
	ausschlie&szlig;lich Buchstaben und Zahlen enthalten (Leerzeichen und Bindestrich sind auch erlaubt).
</span>
<span lang="en">
	Please type in a name for your user profile.
	The name must not be empty, it must not be longer than %%MAXLEN%% characters
	and it must only contain letters and digits (spaces and hyphens are allowed as well).
</span>
<br>
<div class="input-group mt-2">
	<div class="input-group-prepend">
		<label lang="de" class="input-group-text" for="unameInput">Name des Benutzerprofils</label>
		<label lang="en" class="input-group-text" for="unameInput">Name of the User Profile</label>
	</div>
	<input class="form-control" type="text" id="unameInput">
</div>