<p lang="de">
	Die automatische Verteilung verteilt alle Einnahmen automatisch auf mehrere Konten.
	In diesem Dialog k&ouml;nnen Sie ausw&auml;hlen, wie Ihre Einnahmen verteilt werden sollen.
</p>
<p lang="en">
	The automated allocation distributes all earnings automatically across your budgets.
	In this dialog, you can select how your earnings should be distributed.
</p>
<br>
<div>
	<input id="autoAllocation" type="checkbox">
	<span lang="de">Automatische Verteilung aktivieren</span>
	<span lang="en">Activate automated allocation</span>
</div>
<hr>
<div id="allocationTable">

</div>