
                <!-- buttons -->
                <div class="w3-container" style="margin-right:50px;">
                    <!-- button to add new budgets -->
                    <button class="w3-button w3-white w3-round-xlarge" lang="en" onclick="addBudget();"> Add budget </button>
                    <button class="w3-button w3-white w3-round-xlarge" lang="de" onclick="addBudget();"> Konto hinzuf&uuml;gen </button>
                    <!-- button to add new earnings or spendings -->
                    <button class="w3-button w3-white w3-round-xlarge" lang="en" onclick="addTransaction();"> Add transaction </button>
                    <button class="w3-button w3-white w3-round-xlarge" lang="de" onclick="addTransaction();"> Eintrag hinzuf&uuml;gen </button>
                    <!-- button for setting allocations -->
                    <button class="w3-button w3-white w3-round-xlarge" lang="en" onclick="setAllocation();"> Automated allocation </button>
                    <button class="w3-button w3-white w3-round-xlarge" lang="de" onclick="setAllocation();"> Automatische Aufteilung </button>
                    <!-- button for transfers -->
                    <button class="w3-button w3-white w3-round-xlarge" onclick="executeTransfer();"> Transfer </button>
                </div>
            </div>
            <hr style="border-color:black;">
            <div class="w3-container" style="margin-right:50px;">
                <h5 lang="en"><i class="fas fa-search-plus w3-text-aqua w3-large"></i> Detailed overview </h5>
                <h5 lang="de"><i class="fas fa-search-plus w3-text-aqua w3-large"></i> Detail&uuml;bersicht </h5>
                <!-- in this div there will be added an overview for each budget in detail via JavaScript -->
                <div id="mainContentControls" class="w3-container" style="margin-right:50px;"></div>
                <div id="mainContent" class="w3-container" style="margin-right:50px;"></div>
            </div>
            <hr style="border-color:black;">
            <div class="w3-container" style="margin-right:50px;">
                <h5 lang="en"><i class="fas fa-redo w3-text-orange w3-large"></i> Recurring transactions </h5>
                <h5 lang="de"><i class="fas fa-redo w3-text-orange w3-large"></i> Wiederkehrende Transaktionen </h5>
                <!-- in this div there will be added an overview of recurring transactions via JavaScript -->
                <div id="recurringTransactions" class="w3-container" style="margin-right:50px;"></div>
            </div>
            <hr style="border-color:black;">
            <div class="w3-container" style="margin-right:50px;">
                <center><button class="w3-button w3-blue w3-round-xlarge" lang="en" onclick="chooseMonth();" href="#"> Download monthly overview as PDF </button></center>
                <center><button class="w3-button w3-blue w3-round-xlarge" lang="de" onclick="chooseMonth();" href="#"> Monatsbericht als PDF speichern </button></center>
			</div>
			<br>
			<div class="w3-container" style="margin-right:50px;margin-bottom:50px;">
				<center><button class="w3-button w3-blue w3-round-xlarge" lang="en" onclick="chooseYear();" href="#"> Download yearly overview as PDF </button></center>
                <center><button class="w3-button w3-blue w3-round-xlarge" lang="de" onclick="chooseYear();" href="#"> Jahresbericht als PDF speichern </button></center>
			</div>
        </div>
        <!-- JavaScript initialization -->
        <script>
            window.$ = window.jQuery = require( 'jquery' );
        </script>
        <script language="javascript" src="../lib/jquery-ui.min.js"></script>
        <script language="javascript" src="../lib/jquery.comiseo.daterangepicker.min.js"></script>
        <script>
			const JsonStorage = require('../scripts/storage/jsonStorage.js');
            loadPage();
        </script>
    </body>
</html>
