<!DOCTYPE html>
<html>
	<head>
		<title>FinanceList &ndash; A finance managing tool</title>
		<link rel="shortcut icon" href="../img/tab.ico">
		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="../style/fontawesome/css/fontawesome-all.min.css">
		<link rel="stylesheet" type="text/css" href="../style/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../style/style.css">
	</head>
	<body class="bg-light">
		<nav class="navbar navbar-dark bg-dark justify-content-between">
			<span class="navbar-brand text-light">
				<img alt="Logo" src="../img/tab.ico" width="30px" height="30px" class="d-inline-block align-top">
				FinanceList-Desktop
			</span>
			<span>
				<a onclick="startup.view.updateLang('en')" href="#">
					<img alt="EN" src="../img/us.ico" width="30px" height="30px">
				</a>
				<a onclick="startup.view.updateLang('de')" href="#">
					<img alt="DE" src="../img/de.ico" width="30px" height="30px">
				</a>
			</span>
		</nav>

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">
					<i class="fa fa-home text-primary"></i>
					<span class="text-dark" lang="de">&Uuml;berblick</span>
					<span class="text-dark" lang="en">Overview</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="balances-tab" data-toggle="tab" href="#balances" role="tab" aria-controls="balances" aria-selected="false">
					<i class="fas fa-euro-sign text-success"></i>
					<span class="text-dark" lang="de">Bilanzen</span>
					<span class="text-dark" lang="en">Balances</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
					<i class="fas fa-cog text-danger"></i>
					<span class="text-dark" lang="de">Einstellungen</span>
					<span class="text-dark" lang="en">Settings</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">
					<i class="far fa-question-circle text-warning"></i>
					<span class="text-dark" lang="de">Hilfe</span>
					<span class="text-dark" lang="en">Help</span>
				</a>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
				<div class="modal fade" id="divModal" tabindex="-1" role="dialog" aria-labelledby="divModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="divModalLabel"></h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<center><div class="modal-err"></div></center>
							<div class="modal-body">
								
							</div>
							<div class="modal-footer">
								<button type="button" id="modalCanc" class="btn btn-outline-danger" data-dismiss="modal"></button>
								<button type="button" id="modalConf" class="btn btn-outline-success"></button>
							</div>
						</div>
					</div>
				</div>

				<h3 lang="de"><i class="fas fa-credit-card text-primary"></i> Konten&uuml;bersicht</h3>
				<h3 lang="en"><i class="fas fa-credit-card text-primary"></i> Budget Overview</h3>
				<div id="currentBudgets"></div>
				<div>
					<button lang="de" type="button" id="btnAddBudget" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Konto hinzuf&uuml;gen</button>
					<button lang="en" type="button" id="btnAddBudget" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Add budget</button>
					<button lang="de" type="button" id="btnAddTransact" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Eintrag hinzuf&uuml;gen</button>
					<button lang="en" type="button" id="btnAddTransact" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Add transaction</button>
					<button lang="de" type="button" id="btnSetAlloc" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Automatische Aufteilung</button>
					<button lang="en" type="button" id="btnSetAlloc" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Automated allocation</button>
					<button type="button" id="btnTransfer" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Transfer</button>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fas fa-redo text-warning"></i> Wiederkehrende Transaktionen</h3>
				<h3 lang="en"><i class="fas fa-redo text-warning"></i> Recurring Transactions</h3>
				<div id="recurrTrans"></div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fas fa-hand-holding-usd text-success"></i> Monatlicher &Uuml;berschuss</h3>
				<h3 lang="en"><i class="fas fa-hand-holding-usd text-success"></i> Monthly Surplus</h3>
				<div id="currentBalances"></div>
				<hr style="border-color:black;">
				
				<h3 lang="de"><i class="fas fa-donate text-danger"></i> K&uuml;rzliche Ausgaben</h3>
				<h3 lang="en"><i class="fas fa-donate text-danger"></i> Recent Spendings</h3>
				<div id="recentSpendings"></div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fas fa-donate text-success"></i> K&uuml;rzliche Einnahmen</h3>
				<h3 lang="en"><i class="fas fa-donate text-success"></i> Recent Earnings</h3>
				<div id="recentEarnings"></div>
				<hr style="border-color:black;">
			</div>

			<div class="tab-pane fade" id="balances" role="tabpanel" aria-labelledby="balances-tab">
				<h3 lang="de"><i class="fas fa-comment-dollar text-success"></i> Detail&uuml;bersicht</h3>
				<h3 lang="en"><i class="fas fa-comment-dollar text-success"></i> Detailed Overview</h3>
                <div class="mb-2">
					<div class="alert alert-primary" role="alert" style="max-width: 550px;">
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="budgetSelect">Konto</label>
								<label lang="en" class="input-group-text" for="budgetSelect">Budget</label>
							</div>
							<select class="form-control" id="budgetSelect">
								<option id="all" value="all"></option>
							</select>
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="typeSelect">Art</label>
								<label lang="en" class="input-group-text" for="typeSelect">Type</label>
							</div>
							<select class="form-control" id="typeSelect">
								<option id="all" value="all"></option>
								<option lang="de" value="earning">Einnahme</option>
								<option lang="en" value="earning">Earning</option>
								<option lang="de" value="spending">Ausgabe</option>
								<option lang="en" value="spending">Spending</option>
							</select>
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="dateFrom">Startdatum</label>
								<label lang="en" class="input-group-text" for="dateFrom">Start Date</label>
							</div>
							<input type="number" placeholder="YYYY" id="dateFromYear" size="4" min="1970" class="form-control">
							<input type="number" placeholder="MM" id="dateFromMonth" size="2" min="1" max="12" class="form-control">
							<input type="number" placeholder="DD" id="dateFromDay" size="2" min="1" max="31" value="1" class="form-control">
							<button class="form-control"
									onclick="startup.view.createDatepicker('#dateFrom', ['#dateFromYear', '#dateFromMonth', '#dateFromDay'])">
								&#x1F4C5;
							</button>
							<input type="hidden" id="dateFrom">
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="dateTo">Enddatum</label>
								<label lang="en" class="input-group-text" for="dateTo">End Date</label>
							</div>
							<input type="number" placeholder="YYYY" id="dateToYear" size="4" min="1970" class="form-control">
							<input type="number" placeholder="MM" id="dateToMonth" size="2" min="1" max="12" class="form-control">
							<input type="number" placeholder="DD" id="dateToDay" size="2" min="1" max="31" class="form-control">
							<button class="form-control"
									onclick="startup.view.createDatepicker('#dateTo', ['#dateToYear', '#dateToMonth', '#dateToDay'],
										['#dateFromYear', '#dateFromMonth', '#dateFromDay'].every(id => $(id).val().trim() !== '') ?
											(new Date($('#dateFromYear').val(), $('#dateFromMonth').val() - 1, $('#dateFromDay').val())) : null)">
								&#x1F4C5;
							</button>
							<input type="hidden" id="dateTo">
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text">Betrag</label>
								<label lang="en" class="input-group-text">Amount</label>
							</div>
							<input class="form-control" type="number" id="amountFrom">
							<label lang="de" class="input-group-text">bis</label>
							<label lang="en" class="input-group-text">to</label>
							<input class="form-control" type="number" id="amountTo">
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="nameSearch">Name</label>
								<label lang="en" class="input-group-text" for="nameSearch">Name</label>
							</div>
							<input class="form-control" type="text" id="nameSearch">
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="catSearch">Kategorie</label>
								<label lang="en" class="input-group-text" for="catSearch">Category</label>
							</div>
							<input class="form-control" type="text" id="catSearch">
						</div>
						<div class="text-right">
							<button lang="de" class="btn btn-dark" onclick="startup.view.displayOverview('#mainContent')">Aktualisieren</button>
							<button lang="en" class="btn btn-dark" onclick="startup.view.displayOverview('#mainContent')">Update</button>
						</div>
					</div>
				</div>
				<div id="mainContent"></div>
				<hr style="border-color:black;">
				<div class="mb-2">
					<h3 lang="de"><i class="fas fa-chart-pie text-danger"></i> Graph</h3>
					<h3 lang="en"><i class="fas fa-chart-pie text-danger"></i> Graph</h3>
					<div class="alert alert-primary mb-2" role="alert" style="max-width: 550px;">
						<div class="input-group mt-2 mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="chartTypeSelect">Diagrammart</label>
								<label lang="en" class="input-group-text" for="chartTypeSelect">Chart Type</label>
							</div>
							<select class="form-control" id="chartTypeSelect">
								<option lang="de" value="pie">Kreisdiagramm</option>
								<option lang="en" value="pie">Pie Chart</option>
								<option lang="de" value="line">Liniendiagramm</option>
								<option lang="en" value="line">Line Chart</option>
								<option lang="de" value="bar">Balkendiagramm</option>
								<option lang="en" value="bar">Bar Chart</option>
								<option lang="de" value="doughnut">Ringdiagramm</option>
								<option lang="en" value="doughnut">Doughnut Chart</option>
							</select>
						</div>
					</div>
					<canvas id="graphCanvas"></canvas>
				</div>
			</div>

			<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
				<h3 lang="de"><i class="fas fa-folder text-warning"></i> Dateipfad</h3>
				<h3 lang="en"><i class="fas fa-folder text-warning"></i> File Path</h3>
				<div>
					<button class="btn btn-outline-primary" onclick="startup.view.updateFilepath();" id="btnCurrentPath"></button>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="far fa-money-bill-alt text-success"></i> Währung</h3>
				<h3 lang="en"><i class="far fa-money-bill-alt text-success"></i> Currency</h3>
				<div>
					<div class="btn-group">
						<button type="button" id="btnCurrentCurrency" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#" onclick="startup.view.updatePreference('currency', 'euro');">
								<i class="fas fa-euro-sign"></i> Euro
							</a>
							<a class="dropdown-item" href="#" onclick="startup.view.updatePreference('currency', 'dollar');">
								<i class="fas fa-dollar-sign"></i> Dollar
							</a>
							<a lang="de" class="dropdown-item" href="#" onclick="startup.view.updatePreference('currency', 'pound');">
								<i class="fas fa-pound-sign"></i> Pfund
							</a>
							<a lang="en" class="dropdown-item" href="#" onclick="startup.view.updatePreference('currency', 'pound');">
								<i class="fas fa-pound-sign"></i> Pound
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
				<h3 lang="de"> Die &quot;&Uuml;berblick&quot; Seite</h3>
				<h3 lang="en"> The overview page</h3>
				<div>
					<p lang="de">
						Diese Seite soll einen groben &Uuml;berblick &uuml;ber die
						aktuelle Lage bieten. Dazu werden folgende Ansichten angeboten:
					</p>
					<p lang="en">
						This page gives you a rough overview about the current situation.
						The following views are offered:
					</p>
					<p lang="de">
						<ul lang="de">
							<li lang="de"> Monatlicher &Uuml;berschuss </li>
								<p lang="de">
									Diese Ansicht zeigt die im aktuellen Monat vorhandenen
									&Uuml;bersch&uuml;sse (gr&uuml;n) bzw. Verluste (rot) an.
								</p>
							<li lang="de"> K&uuml;rzliche Ausgaben </li>
								<p lang="de">
									Hier werden k&uuml;rzlich get&auml;tigte Ausgaben aufgelistet.
								</p>
							<li lang="de"> Gesamtausgaben </li>
								<p lang="de">
									Dieses Diagramm visualisiert alle bisher get&auml;tigten Ausgaben.
								</p>
							<li lang="de"> K&uuml;rzliche Einnahmen </li>
								<p lang="de">
									Hier werden k&uuml;rzlich generierte Einnahmen aufgelistet.
								</p>
							<li lang="de"> Gesamteinnahmen </li>
								<p lang="de">
									Dieses Diagramm visualisiert alle bisher generierten Einnahmen.
								</p>
						</ul>
					</p>
					<p lang="en">
						<ul lang="en">
							<li lang="en"> Monthly surplus </li>
								<p lang="en">
									This view displays the surplus (green) respectively loss (red) in
									the current month.
								</p>
							<li lang="en"> Recent spendings </li>
								<p lang="en">
									This section lists all recent spendings.
								</p>
							<li lang="en"> All time spendings </li>
								<p lang="en">
									This diagram visualizes the total amount of spendings done so far.
								</p>
							<li lang="en"> Recent earnings </li>
								<p lang="en">
									This section lists all recent earnings.
								</p>
							<li lang="en"> All time earnings </li>
								<p lang="en">
									This diagram visualizes the total amount of earnings generated so far.
								</p>
						</ul>
					</p>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"> Die &quot;Bilanzen&quot; Seite</h3>
				<h3 lang="en"> The balances page</h3>
				<div>
					<p lang="de">
						Auf dieser Seite befinden sich genauere Informationen zu Kontostand und
						zu allen Einnahmen und Ausgaben. Dazu gibt es folgende Ansichten:
					</p>
					<p lang="en">
						This page contains detailed information about current balances and
						all earnings and spendings. Available views are:
					</p>
					<p lang="de">
						<ul lang="de">
							<li lang="de"> Konten&uuml;bersicht </li>
								<p lang="de">
									Hier werden alle verf&uuml;gbaren Konten mit ihrer jeweiligen
									Bilanz angezeigt. Zudem besteht die M&ouml;glichkeit, Konten
									hinzuzuf&uuml;gen, zu l&ouml;schen oder umzubenennen.
									&Uuml;ber die Schaltfl&auml;che &quot;Eintrag hinzuf&uuml;gen&quot;
									k&ouml;nnen neue Einnahmen oder Ausgaben hinzuge&uuml;gt werden.
	
									F&uuml;r Einnahmen gibt es die Option, den Betrag auf verschiedene
									Konten zu verteilen, wobei die Verteilung nach Belieben angepasst
									werden kann (dies geschieht unter &quot;Automatische Verteilung&quot;).
	
									Weiter kann man Transaktionen automatisieren, sodass sie in einem
									gew&auml;hlten Intervall immer wieder von alleine wiederholt
									werden.
	
									Mittels &quot;Transfer&quot; ist es m&ouml;glich, einen gew&auml;hlten Betrag
									zwischen bestehenden Konten zu transferieren.
								</p>
							<li lang="de"> Detail&uuml;bersicht </li>
								<p lang="de">
									In diesem Abschnitt k&ouml;nnen detaillierte Informationen zu allen Ausgaben
									und Einnahmen abgerufen werden. Die Daten werden entweder in Form eines
									Diagramms oder in Form einer Tabelle visualisiert.
	
									Bei der Tabelle besteht die Option, einzelne Einträge wieder zu l&ouml;schen, falls
									ein Eintrag nicht korrekt hinzugef&uuml;gt wurde. Zudem kann die Tabelle nach
									einer beliebigen Spalte sowohl aufsteigend als auch absteigend sortiert werden. Dazu
									klickt man einfach auf die Spalten&uuml;berschrift der jeweiligen Spalte.
	
									Die Daten k&ouml;nnen au&szlig;erdem beliebig gefiltert werden, wobei es keine Rolle
									spielt, ob sie in Form eines Diagramms oder in Form einer Tabelle dargestellt werden.
								</p>
							<li lang="de"> Wiederkehrende Transaktionen </li>
								<p lang="de">
									In dieser Ansicht werden alle wiederkehrenden Transaktionen aufgelistet,
									um den &Uuml;berblick dar&uuml;ber nicht zu verlieren. Selbstverst&auml;ndlich
									k&ouml;nnen diese wiederkehrenden Transaktionen auch bearbeitet oder gel&ouml;scht
									werden.
								</p>
						</ul>
					</p>
					<p lang="en">
						<ul lang="en">
							<li lang="en"> Budget overview </li>
								<p lang="en">
									This section lists all available budgets with their current balance.
									You can add new budgets, rename budgets or delete budgets here as well.
									You can add new earnings or spendings via "Add transaction".
	
									Earnings can be partitioned and distributed to multiple budgets as you
									like. You can choose the allocation rate by selecting "Automated allocation".
	
									Any transaction can be automated such that it gets executed repeatedly in an
									interval you can choose.
	
									You can also transfer a selected sum from a budget to another budget by
									clicking on the "Transfer" button.
								</p>
							<li lang="en"> Detailed overview </li>
								<p lang="en">
									This section provides detailed information for all of your earnings and spendings.
									The data is visualized either by a diagram or by a table.
	
									If you choose to display a table, you can delete entries you added incorrectly. In
									addition to that, the table can be sorted ascending or descending by any column. In
									order to do exactly that, one simply clicks on the corresponding column heading.
	
									It is possible to filter the data by any parameter at any time.
								</p>
							<li lang="en"> Recurring transactions </li>
								<p lang="en">
									This view lists all of the current recurring transactions such that you
									do not lose track of them. Of course, you can edit them or delete them
									here if you want to.
								</p>
						</ul>
					</p>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"> Die &quot;Einstellungen&quot; Seite</h3>
				<h3 lang="en"> The settings page</h3>
				<div>
					<p lang="de">
						Auf dieser Seite k&ouml;nnen Sie Einstellungen vornehmen. Sie können hier
						auswählen, ob das Programm im Vollbildmodus oder im Fenstermodus laufen soll.
	
						Dar&uuml;ber hinaus k&ouml;nnen der Dateispeicherort für Ihre Daten sowie die
						W&auml;hrung und die Diagrammart beliebig gewählt werden.
					</p>
					<p lang="en">
						On this page, one can adjust the settings of this application. You can choose
						whether this application should be run in fullscreen or in window-mode.
	
						Additionally, you can change the path where your data is being saved, the type
						of diagrams which are used to visualize data and the currency.
					</p>
				</div>
                <hr style="border-color:black;">

				<h3 lang="de"> Anmerkungen</h3>
				<h3 lang="en"> Feedback</h3>
				<div>
					<p lang="de">
						<img href="#" alt="Github Logo" style="float: left; margin-right: 15px;" src="../img/github-64px.png" onclick="require('electron').shell.openExternal('https://github.com/Malte311/FinanceList-Desktop')"/>
						Sie haben einen Bug gefunden oder w&uuml;nschen ein neues Feature?
						Dann erstellen Sie doch gerne einen neuen
						<a href="#" onclick="require('electron').shell.openExternal('https://github.com/Malte311/FinanceList-Desktop/issues/new/choose')">Issue</a>
						bei Github.
	
						Wenn Sie an dem Quellcode dieses Programms interessiert sind,
						dann besuchen Sie doch einfach das Github-Repository dieses Projektes.
						Dieses ist erreichbar, indem Sie auf das Icon auf der linken Seite klicken.
					</p>
					<p lang="en">
						<img href="#" alt="Github Logo" style="float: left; margin-right: 15px;" src="../img/github-64px.png" onclick="require('electron').shell.openExternal('https://github.com/Malte311/FinanceList-Desktop')"/>
						You found a bug or want to request a new feature?
						It would be very kind of you to create a new
						<a href="#" onclick="require('electron').shell.openExternal('https://github.com/Malte311/FinanceList-Desktop/issues/new/choose')">Issue</a>
						on Github.
	
						If you are interested in the source code of this application, you can visit
						its repository on Github by clicking on the icon on the left.
					</p>
				</div>
			</div>
		</div>
	</body>
	<script>
		const $ = jQuery = require('jquery'); // Global jQuery & jQueryUI.
		require('jquery-ui-dist/jquery-ui');
		require('popper.js'); // Global Bootstrap things.
		require('bootstrap');

		let Startup = require(__dirname + '/../scripts/startup.js');
		const startup = new Startup();
	</script>
</html>