<!DOCTYPE html>
<html>
	<head>
		<title>FinanceList &ndash; A finance managing tool</title>
		<link rel="shortcut icon" href="../img/tab.ico">
		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="../style/fontawesome/css/fontawesome-all.min.css">
		<link rel="stylesheet" type="text/css" href="../style/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../style/style.css">
	</head>
	<body class="bg-light">
		<nav class="navbar navbar-dark bg-dark justify-content-between">
			<span class="navbar-brand text-light">
				<img alt="Logo" src="../img/tab.ico" width="30px" height="30px" class="d-inline-block align-top">
				FinanceList-Desktop
			</span>
			<span>
				<a onclick="startup.view.updateLang('en')" href="#">
					<img alt="EN" src="../img/us.ico" width="30px" height="30px">
				</a>
				<a onclick="startup.view.updateLang('de')" href="#">
					<img alt="DE" src="../img/de.ico" width="30px" height="30px">
				</a>
			</span>
		</nav>

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">
					<i class="fa fa-home text-primary"></i>
					<span class="text-dark" lang="de">&Uuml;berblick</span>
					<span class="text-dark" lang="en">Overview</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="balances-tab" data-toggle="tab" href="#balances" role="tab" aria-controls="balances" aria-selected="false">
					<i class="fas fa-euro-sign text-success"></i>
					<span class="text-dark" lang="de">Bilanzen</span>
					<span class="text-dark" lang="en">Balances</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
					<i class="fas fa-cog text-danger"></i>
					<span class="text-dark" lang="de">Einstellungen</span>
					<span class="text-dark" lang="en">Settings</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">
					<i class="far fa-question-circle text-warning"></i>
					<span class="text-dark" lang="de">Hilfe</span>
					<span class="text-dark" lang="en">Help</span>
				</a>
			</li>
		</ul>

		<div class="modal fade" id="divModal" tabindex="-1" role="dialog" aria-labelledby="divModalLabel" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="divModalLabel"></h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<center><div class="modal-err"></div></center>
					<div class="modal-body">
						
					</div>
					<div class="modal-footer">
						<button type="button" id="modalCanc" class="btn btn-outline-danger" data-dismiss="modal"></button>
						<button type="button" id="modalConf" class="btn btn-outline-success"></button>
					</div>
				</div>
			</div>
		</div>
		<input type="hidden" id ="modalHidden">

		<div class="tab-content mt-3 ml-4 mr-4 mb-5" id="myTabContent">
			<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
				<h3 lang="de"><i class="fas fa-credit-card text-primary"></i> Konten&uuml;bersicht</h3>
				<h3 lang="en"><i class="fas fa-credit-card text-primary"></i> Budget Overview</h3>
				<p lang="de">
					Hier befindet sich eine &Uuml;bersicht aller aktiven Konten mit den jeweiligen Kontost&auml;nden.
				</p>
				<p lang="en">
					This section contains an overview of all active budgets with their corresponding balance.
				</p>
				<div class="mt-2 mb-2" id="currentBudgets"></div>
				<div>
					<button lang="de" type="button" id="btnAddBudget" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Konto hinzuf&uuml;gen</button>
					<button lang="en" type="button" id="btnAddBudget" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Add budget</button>
					<button lang="de" type="button" id="btnAddTransact" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Eintrag hinzuf&uuml;gen</button>
					<button lang="en" type="button" id="btnAddTransact" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Add transaction</button>
					<button lang="de" type="button" id="btnSetAlloc" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Automatische Aufteilung</button>
					<button lang="en" type="button" id="btnSetAlloc" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Automated allocation</button>
					<button type="button" id="btnTransfer" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">Transfer</button>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fas fa-redo text-warning"></i> Wiederkehrende Transaktionen</h3>
				<h3 lang="en"><i class="fas fa-redo text-warning"></i> Recurring Transactions</h3>
				<p lang="de">
					Hier befindet sich eine &Uuml;bersicht aller sich wiederholenden Transaktionen.
				</p>
				<p lang="en">
					This section contains an overview of all repeating transactions.
				</p>
				<div id="recurrTrans"></div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fas fa-hand-holding-usd text-success"></i> Monatlicher &Uuml;berschuss</h3>
				<h3 lang="en"><i class="fas fa-hand-holding-usd text-success"></i> Monthly Surplus</h3>
				<p lang="de">
					Hier befindet sich eine &Uuml;bersicht &uuml;ber die Differenz aus Einnahmen und Ausgaben pro Konto im aktuellen Monat.
				</p>
				<p lang="en">
					This section contains an overview of the difference between earnings and spendings for each budget in the current month.
				</p>
				<div id="currentBalances"></div>
				<hr style="border-color:black;">
				
				<h3 lang="de"><i class="fas fa-donate text-danger"></i> K&uuml;rzliche Ausgaben</h3>
				<h3 lang="en"><i class="fas fa-donate text-danger"></i> Recent Spendings</h3>
				<p lang="de">
					Hier befindet sich eine &Uuml;bersicht &uuml;ber k&uuml;rzlich get&auml;tigte Ausgaben.
				</p>
				<p lang="en">
					This section contains an overview of recent spendings.
				</p>
				<div id="recentSpendings"></div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fas fa-donate text-success"></i> K&uuml;rzliche Einnahmen</h3>
				<h3 lang="en"><i class="fas fa-donate text-success"></i> Recent Earnings</h3>
				<p lang="de">
					Hier befindet sich eine &Uuml;bersicht &uuml;ber k&uuml;rzlich erhaltene Einnahmen.
				</p>
				<p lang="en">
					This section contains an overview of recent earnings.
				</p>
				<div id="recentEarnings"></div>
				<hr style="border-color:black;">
			</div>

			<div class="tab-pane fade" id="balances" role="tabpanel" aria-labelledby="balances-tab">
				<h3 lang="de"><i class="fas fa-comment-dollar text-success"></i> Detail&uuml;bersicht</h3>
				<h3 lang="en"><i class="fas fa-comment-dollar text-success"></i> Detailed Overview</h3>
				<div class="mb-2">
					<div class="alert alert-primary" role="alert" style="max-width: 550px;">
						<div id="overview-err"></div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="budgetSelect">Konto</label>
								<label lang="en" class="input-group-text" for="budgetSelect">Budget</label>
							</div>
							<select class="form-control" id="budgetSelect">
								<option id="all" value="all"></option>
							</select>
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="typeSelect">Art</label>
								<label lang="en" class="input-group-text" for="typeSelect">Type</label>
							</div>
							<select class="form-control" id="typeSelect">
								<option id="all" value="all"></option>
								<option lang="de" value="earning">Einnahme</option>
								<option lang="en" value="earning">Earning</option>
								<option lang="de" value="spending">Ausgabe</option>
								<option lang="en" value="spending">Spending</option>
							</select>
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="dateFrom">Startdatum</label>
								<label lang="en" class="input-group-text" for="dateFrom">Start Date</label>
							</div>
							<input type="number" placeholder="YYYY" id="dateFromYear" size="4" min="1970" class="form-control">
							<input type="number" placeholder="MM" id="dateFromMonth" size="2" min="1" max="12" class="form-control">
							<input type="number" placeholder="DD" id="dateFromDay" size="2" min="1" max="31" value="1" class="form-control">
							<button class="form-control"
									onclick="startup.view.createDatepicker('#dateFrom', ['#dateFromYear', '#dateFromMonth', '#dateFromDay'])">
								&#x1F4C5;
							</button>
							<input type="hidden" id="dateFrom">
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="dateTo">Enddatum</label>
								<label lang="en" class="input-group-text" for="dateTo">End Date</label>
							</div>
							<input type="number" placeholder="YYYY" id="dateToYear" size="4" min="1970" class="form-control">
							<input type="number" placeholder="MM" id="dateToMonth" size="2" min="1" max="12" class="form-control">
							<input type="number" placeholder="DD" id="dateToDay" size="2" min="1" max="31" class="form-control">
							<button class="form-control"
									onclick="startup.view.createDatepicker('#dateTo', ['#dateToYear', '#dateToMonth', '#dateToDay'],
										['#dateFromYear', '#dateFromMonth', '#dateFromDay'].every(id => $(id).val().trim() !== '') ?
											(new Date($('#dateFromYear').val(), $('#dateFromMonth').val() - 1, $('#dateFromDay').val())) : null)">
								&#x1F4C5;
							</button>
							<input type="hidden" id="dateTo">
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text">Betrag</label>
								<label lang="en" class="input-group-text">Amount</label>
							</div>
							<input class="form-control" type="number" id="amountFrom">
							<label lang="de" class="input-group-text">bis</label>
							<label lang="en" class="input-group-text">to</label>
							<input class="form-control" type="number" id="amountTo">
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="nameSearch">Name</label>
								<label lang="en" class="input-group-text" for="nameSearch">Name</label>
							</div>
							<input class="form-control" type="text" id="nameSearch">
						</div>
						<div class="input-group mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="catSearch">Kategorie</label>
								<label lang="en" class="input-group-text" for="catSearch">Category</label>
							</div>
							<input class="form-control" type="text" id="catSearch">
						</div>
						<div class="text-right">
							<button lang="de" class="btn btn-dark" onclick="startup.view.displayOverview('#mainContent')">Aktualisieren</button>
							<button lang="en" class="btn btn-dark" onclick="startup.view.displayOverview('#mainContent')">Update</button>
						</div>
					</div>
				</div>
				<div id="mainContent"></div>
				<hr style="border-color:black;">
				<div class="mb-2">
					<h3 lang="de"><i class="fas fa-chart-pie text-danger"></i> Graph</h3>
					<h3 lang="en"><i class="fas fa-chart-pie text-danger"></i> Graph</h3>
					<div class="alert alert-primary mb-2" role="alert" style="max-width: 550px;">
						<div class="input-group mt-2 mb-2" style="max-width: 500px;">
							<div class="input-group-prepend">
								<label lang="de" class="input-group-text" for="chartTypeSelect">Diagrammart</label>
								<label lang="en" class="input-group-text" for="chartTypeSelect">Chart Type</label>
							</div>
							<select class="form-control" id="chartTypeSelect">
								<option lang="de" value="pie">Kreisdiagramm</option>
								<option lang="en" value="pie">Pie Chart</option>
								<option lang="de" value="line">Liniendiagramm</option>
								<option lang="en" value="line">Line Chart</option>
								<option lang="de" value="bar">Balkendiagramm</option>
								<option lang="en" value="bar">Bar Chart</option>
								<option lang="de" value="doughnut">Ringdiagramm</option>
								<option lang="en" value="doughnut">Doughnut Chart</option>
							</select>
						</div>
					</div>
					<div id="graphDiv"></div>
				</div>
			</div>

			<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
				<div id="set-msg"></div>
				<h3 lang="de"><i class="fas fa-folder text-warning"></i> Dateipfad</h3>
				<h3 lang="en"><i class="fas fa-folder text-warning"></i> File Path</h3>
				<p lang="de">
					Hier k&ouml;nnen Sie den Pfad zu dem Ordner, in dem Ihre Daten gespeichert werden sollen, &auml;ndern.
					Wichtig: W&auml;hlen sie niemals einen Unterordner f&uuml;r ein bestimmtes Benutzerprofil aus.
				</p>
				<p lang="en">
					Here you can change the file path to the folder where your data is being saved. Important: Never choose
					a subfolder belonging to a specific user profile.
				</p>
				<div>
					<button class="btn btn-outline-primary" onclick="startup.view.updateFilepath();" id="btnCurrentPath"></button>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="far fa-money-bill-alt text-success"></i> W&auml;hrung</h3>
				<h3 lang="en"><i class="far fa-money-bill-alt text-success"></i> Currency</h3>
				<p lang="de">
					Hier k&ouml;nnen Sie das Symbol f&uuml;r die W&auml;hrung anpassen.
				</p>
				<p lang="en">
					Here you can adjust the currency symbol.
				</p>
				<div>
					<div class="btn-group">
						<button type="button" id="btnCurrentCurrency" class="btn btn-outline-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#" onclick="startup.view.updatePreference('currency', 'euro');">
								<i class="fas fa-euro-sign"></i> Euro
							</a>
							<a class="dropdown-item" href="#" onclick="startup.view.updatePreference('currency', 'dollar');">
								<i class="fas fa-dollar-sign"></i> Dollar
							</a>
							<a lang="de" class="dropdown-item" href="#" onclick="startup.view.updatePreference('currency', 'pound');">
								<i class="fas fa-pound-sign"></i> Pfund
							</a>
							<a lang="en" class="dropdown-item" href="#" onclick="startup.view.updatePreference('currency', 'pound');">
								<i class="fas fa-pound-sign"></i> Pound
							</a>
						</div>
					</div>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fas fa-users text-danger"></i> Benutzerprofil</h3>
				<h3 lang="en"><i class="fas fa-users text-danger"></i> User Profile</h3>
				<p lang="de">
					Hier k&ouml;nnen Sie Ihre vorhandenen Benutzerprofile verwalten.
				</p>
				<p lang="en">
					Here you can manage your available user profiles.
				</p>
				<div class="mt-2 mb-2" id="userOverview"></div>
				<button lang="de" type="button" id="btnAddUser" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">
					Benutzerprofil hinzuf&uuml;gen
				</button>
				<button lang="en" type="button" id="btnAddUser" class="btn btn-outline-primary" data-toggle="modal" data-target="#divModal">
					Add User Profile
				</button>
			</div>

			<div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
				<p lang="de">
					Informationen zur Verwendung dieser Anwendung finden Sie
					<a href="#" onclick="require('electron').shell.openExternal('https://github.com/Malte311/FinanceList-Desktop/wiki')">
						auf dieser Seite.
					</a>
				</p>
				<p lang="en">
					Information on how to use this application can be found
					<a href="#" onclick="require('electron').shell.openExternal('https://github.com/Malte311/FinanceList-Desktop/wiki')">
						on this site.
					</a>
				</p>
				<p lang="de">
					Sie haben einen Bug gefunden oder w&uuml;nschen ein neues Feature?
					Dann erstellen Sie doch gerne einen neuen
					<a href="#" onclick="require('electron').shell.openExternal('https://github.com/Malte311/FinanceList-Desktop/issues/new/choose')">
						Issue bei Github.
					</a>
				</p>
				<p lang="en">
					Found a bug or want to request a new feature? Simply create a new
					<a href="#" onclick="require('electron').shell.openExternal('https://github.com/Malte311/FinanceList-Desktop/issues/new/choose')">
						Issue on Github.
					</a>
				</p>
			</div>
		</div>
	</body>
	<script>
		const $ = jQuery = require('jquery'); // Global jQuery & jQueryUI.
		require('jquery-ui-dist/jquery-ui');
		require('popper.js'); // Global Bootstrap things.
		require('bootstrap');

		const Startup = require(__dirname + '/../scripts/startup.js');
		
		let startup; // Global namespace.
		$(function() {
			startup = new Startup();
		});
	</script>
</html>