<!DOCTYPE html>
<html>
	<head>
		<title>FinanceList &ndash; A finance managing tool</title>
		<link rel="shortcut icon" href="../img/tab.ico">
		<meta charset="UTF-8">

		<link rel="stylesheet" type="text/css" href="../style/fontawesome/css/fontawesome-all.min.css">
		<link rel="stylesheet" type="text/css" href="../style/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../style/style.css">
	</head>
	<body class="bg-light">
		<nav class="navbar navbar-dark bg-dark justify-content-between">
			<span class="navbar-brand text-light">
				<img alt="Logo" src="../img/tab.ico" width="30px" height="30px" class="d-inline-block align-top">
				FinanceList-Desktop
			</span>
			<span>
				<a onclick="s.view.updateLang('en')" href="#">
					<img alt="EN" src="../img/us.ico" width="30px" height="30px">
				</a>
				<a onclick="s.view.updateLang('de')" href="#">
					<img alt="DE" src="../img/de.ico" width="30px" height="30px">
				</a>
			</span>
		</nav>

		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="overview-tab" data-toggle="tab" href="#overview" role="tab" aria-controls="overview" aria-selected="true">
					<i class="fa fa-home text-primary"></i>
					<span lang="de">&Uuml;berblick</span>
					<span lang="en">Overview</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="balances-tab" data-toggle="tab" href="#balances" role="tab" aria-controls="balances" aria-selected="false">
					<i class="fas fa-euro-sign text-success"></i>
					<span lang="de">Bilanzen</span>
					<span lang="en">Balances</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="settings-tab" data-toggle="tab" href="#settings" role="tab" aria-controls="settings" aria-selected="false">
					<i class="fas fa-cog text-danger"></i>
					<span lang="de">Einstellungen</span>
					<span lang="en">Settings</span>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="help-tab" data-toggle="tab" href="#help" role="tab" aria-controls="help" aria-selected="false">
					<i class="far fa-question-circle text-warning"></i>
					<span lang="de">Hilfe</span>
					<span lang="en">Help</span>
				</a>
			</li>
		</ul>

		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="overview" role="tabpanel" aria-labelledby="overview-tab">
				<h3 lang="de"><i class="fa fa-arrow-right text-success"></i> Monatlicher &Uuml;berschuss</h3>
				<h3 lang="en"><i class="fa fa-arrow-right text-success"></i> Monthly surplus</h3>
				<div id="currentBalances"></div>
				<hr style="border-color:black;">
				
				<h3 lang="de"><i class="fa fa-arrow-right text-success"></i> K&uuml;rzliche Ausgaben</h3>
				<h3 lang="en"><i class="fa fa-arrow-right text-success"></i> Recent spendings</h3>
				<div id="recentSpendings"></div>
				<hr style="border-color:black;">
				
				<h3 lang="de"><i class="fa fa-arrow-right text-success"></i> Gesamtausgaben</h3>
				<h3 lang="en"><i class="fa fa-arrow-right text-success"></i> All time spendings</h3>
				<div id="allTimeSpendings"></div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fa fa-arrow-right text-success"></i> K&uuml;rzliche Einnahmen</h3>
				<h3 lang="en"><i class="fa fa-arrow-right text-success"></i> Recent earnings</h3>
				<div id="recentEarnings"></div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fa fa-arrow-right text-success"></i> Gesamteinnahmen</h3>
				<h3 lang="en"><i class="fa fa-arrow-right text-success"></i> All time earnings</h3>
				<div id="allTimeEarnings"></div>
			</div>
			<div class="tab-pane fade" id="balances" role="tabpanel" aria-labelledby="balances-tab">
				
			</div>
			<div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">
				<h3 lang="de"><i class="fas fa-desktop"></i> Fenstergr&ouml;&szlig;e</h3>
				<h3 lang="en"><i class="fas fa-desktop"></i> Window size</h3>
				<div>
					<input type="checkbox" onclick="s.view.toggleWindowMode(this.checked);">
					<span lang="en">Activate fullscreen</span>
					<span lang="de">Vollbildmodus aktivieren</span>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fas fa-folder text-warning"></i> Dateipfad</h3>
				<h3 lang="en"><i class="fas fa-folder text-warning"></i> File path</h3>
				<div>
					<button onclick="setPath();" id="currentPath"></button>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="far fa-money-bill-alt text-success"></i> Währung</h3>
				<h3 lang="en"><i class="far fa-money-bill-alt text-success"></i> Currency</h3>
				<div>
					<div class="btn-group">
						<button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Test
						</button>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="#" onclick="setCurrency('Euro');">
								<i class="fas fa-euro-sign"></i> Euro
							</a>
							<a class="dropdown-item" href="#" onclick="setCurrency('Dollar');">
								<i class="fas fa-dollar-sign"></i> Dollar
							</a>
							<a class="dropdown-item" href="#" onclick="setCurrency('Pound');">
								<i class="fas fa-pound-sign"></i> Pound
							</a>
						</div>
					</div>
				</div>
				<hr style="border-color:black;">

				<h3 lang="de"><i class="fas fa-chart-pie text-danger"></i> Diagrammart</h3>
				<h3 lang="en"><i class="fas fa-chart-pie text-danger"></i> Chart type</h3>
				<div>
					<div class="btn-group">
						<button type="button" class="btn btn-outline-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Test
						</button>
						<div class="dropdown-menu">
							<a lang="de" class="dropdown-item" href="#" onclick="setChartType('pie');">
								Kreisdiagramm
							</a>
							<a lang="en" class="dropdown-item" href="#" onclick="setChartType('pie');">
								Pie chart
							</a>
							<a lang="de" class="dropdown-item" href="#" onclick="setChartType('line');">
								Liniendiagramm
							</a>
							<a lang="en" class="dropdown-item" href="#" onclick="setChartType('line');">
								Line chart
							</a>
							<a lang="de" class="dropdown-item" href="#" onclick="setChartType('bar');">
								Balkendiagramm
							</a>
							<a lang="en" class="dropdown-item" href="#" onclick="setChartType('bar');">
								Bar chart
							</a>
							<a lang="de" class="dropdown-item" href="#" onclick="setChartType('doughnut');">
								Ringdiagramm
							</a>
							<a lang="en" class="dropdown-item" href="#" onclick="setChartType('doughnut');">
								Doughnut chart
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="tab-pane fade" id="help" role="tabpanel" aria-labelledby="help-tab">
				
			</div>
		</div>
	</body>
	<script>
		const $ = jQuery = require('jquery'); // Global jQuery & jQueryUI.
		require('jquery-ui-dist/jquery-ui');
		require('popper.js'); // Global Bootstrap things.
		require('bootstrap');

		let Startup = require(__dirname + '/../scripts/startup.js');
		let s = new Startup();
	</script>
</html>