<!DOCTYPE html>
<html>
    <!-- head -->
    <head>
        <!-- general settings -->
        <title> FinanceList - A finance managing tool </title>
        <link rel="shortcut icon" href="img/tab.ico">
        <meta charset="UTF-8">
        <!-- scripts -->
        <script language="javascript" src="../scripts/JSONhandler.js"></script>
        <script language="javascript" src="../scripts/view/view.js"></script>
        <script language="javascript" src="../scripts/controller/controller.js"></script>
        <script language="javascript" src="../scripts/view/pdfview.js"></script>
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="../style/w3.min.css">
        <link rel="stylesheet" type="text/css" href="../style/fontawesome/css/fontawesome-all.min.css">
        <link rel="stylesheet" type="text/css" href="../style/style.css">
        <style>
            body {
                width: 21cm;
                height: 29.7cm;
                margin-left: auto;
                margin-right: auto;
            }
        </style>
    </head>
    <body class="w3-light-grey">
        <div class="w3-main">
            <div id="dialogDiv"></div>
            <div align="center" class="w3-container w3-row" id="div0">
				<!-- Appended via JavaScript -->
            </div>
            <div id="cashflowChartDiv"><canvas id="cashflowChart" ></canvas></div>
            <hr style="border-color:black;">
            <div align="center" class="w3-container w3-row" id="div1">
                <!-- Appended via JavaScript -->
            </div>
            <div id="budgetChartDiv"><canvas id="budgetChart" ></canvas></div>
            <hr style="border-color:black;">
            <div align="center" class="w3-container w3-row" id="div2">
                <!-- Appended via JavaScript -->
            </div>
            <div id="surplusChartDiv"><canvas id="surplusChart" ></canvas></div>
            <hr style="border-color:black;">
            <div class="w3-container" style="margin-bottom:50px;">
                <button class="w3-button w3-white w3-round-xlarge" lang="en" onclick="window.location.href='./balances.html';" href="#"> Back </button>
                <button class="w3-button w3-white w3-round-xlarge" lang="de" onclick="window.location.href='./balances.html';" href="#"> Zur&uuml;ck </button>
                <button class="w3-button w3-blue w3-round-xlarge" lang="en" onclick="printToPDF();" href="#"> Create PDF </button>
                <button class="w3-button w3-blue w3-round-xlarge" lang="de" onclick="printToPDF();" href="#"> PDF erstellen </button>
            </div>
        </div>
        <script>
            window.$ = window.jQuery = require( 'jquery' );
        </script>
        <script language="javascript" src="../scripts/lib/jquery-ui.min.js"></script>
        <script language="javascript" src="../scripts/lib/jquery.comiseo.daterangepicker.js"></script>
        <script language="javascript" src="../scripts/lib/chartjs-plugin-labels.min.js"></script>
        <script>
            var textElements = require( "../text/pdfview_" + getLanguage() + ".json.js" );
            setLanguage( readPreference( "language" ) );
            $( function() {
                initPdfView();
            });
        </script>
    </body>
</html>
