<p lang="de">
	Hier k&ouml;nnen Sie Geld zwischen Ihren Konten &uuml;bertragen.
</p>
<p lang="en">
	Here you can transfer money between your budgets.
</p>
<hr>
<div>
	<div class="input-group mb-2">
		<div class="input-group-prepend">
			<label lang="de" class="input-group-text" for="fromSelect">Von</label>
			<label lang="en" class="input-group-text" for="fromSelect">From</label>
		</div>
		<select class="custom-select" id="fromSelect">
			
		</select>
	</div>
	<div class="input-group mb-2">
		<div class="input-group-prepend">
			<label lang="de" class="input-group-text" for="toSelect">Nach</label>
			<label lang="en" class="input-group-text" for="toSelect">To</label>
		</div>
		<select class="custom-select" id="toSelect">
			
		</select>
	</div>
</div>
<div class="input-group">
	<div class="input-group-prepend">
		<label lang="de" class="input-group-text" for="transferAmount">Betrag</label>
		<label lang="en" class="input-group-text" for="transferAmount">Amount</label>
	</div>
	<input class="form-control" type="number" placeholder="0.00" id="transferAmount">
</div>