[lang=de] {
    display: none;
}

[lang=en] {
    display: none;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

th {
    cursor: pointer;
}

th:hover {
    color: #000!important;
    background-color: #87CEEB!important;
}