[lang=de] {
    display: none;
}

[lang=en] {
    display: none;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    top: 100%;
    left: 50%;
    margin-left: -60px;
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.disabledDiv {
    pointer-events: none;
    opacity: 0.4;
}

th {
    cursor: pointer;
}

th:hover {
    color: #000!important;
    background-color: #87CEEB!important;
}